apiVersion: v1
kind: Pod
metadata:
  name: rbac-test
spec:
  serviceAccountName: pod-reader-account
  containers:
    - name: kubectl
      image: bitnami/kubectl
      command: ["sleep"]
      args: ["infinity"]
      resources:
        requests:
          memory: "64Mi"
          cpu: "100m"
        limits:
          memory: "128Mi"
          cpu: "200m"
