apiVersion: v1
kind: ResourceQuota
metadata:
  name: compute-quota
spec:
  hard:
    requests.cpu: "2"
    requests.memory: 2Gi
    limits.cpu: "4"
    limits.memory: 4Gi
    pods: "10"
---
apiVersion: v1
kind: ResourceQuota
metadata:
  name: object-quota
spec:
  hard:
    configmaps: "10"
    persistentvolumeclaims: "4"
    services: "10"
    secrets: "10"
    services.nodeports: "2"
